// Styles for the Dashboard
@font-bold: 'Oswald', sans-serif;
@font-light: 'Raleway', sans-serif;

#login-view {
  h1 {
    margin-bottom: 20px;
  }
  p.big-error {
    font-size: 21px;
    margin: 10px 0;
    color: #fff;
    background-color: #d20000;
    padding: 10px;
    border-radius: 4px;
  }
  .login-box {
    border: 1px solid #b9b9b9;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 50px;

    label {
      width: 19%;
      font-size: 16px;
    }
    input {
      width: 80%;
      font-size: 16px;
    }
    .btn {
      float: right;
    }
  }
}
